.container{
  width: 100%;
  height: 80svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list{
  padding: 5px;
}

input{
  border: 1px solid rgb(0, 0, 0, 0.1);
  outline: none;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 10px 10px 0;
  cursor: pointer;
}

button{
  cursor: pointer;
  padding: 5px;
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 3px;
}
form{
  width: 18%;
  /* border: 2px solid; */
  flex-wrap: wrap; 
  text-align: center;
}
h5{
  margin: 8px;
  text-align: center;
}